*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
    background-image: linear-gradient(to right top, #121316, #0e1214, #0c1011, #0b0e0d, #0b0c0a);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header h1{
    color: #000103;
}

.gradient-text{
    font-size: 3rem;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf); 
    -webkit-text-fill-color: transparent; 
    -webkit-background-clip: text; 
}

header,form{
    min-height: 20vh;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*
.alreat{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#50BFC3;
    font-weight: bold;
    font-size: 1.1rem;
    margin:0 30rem;
    background: white;
}
*/

form input{
    color:black;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1.3rem;
}


form input, form button{
    border-radius: 0.02rem;
    border: none;
    outline: none;
}

form button{
    font-size: 2rem;
    padding: 0.44rem 1rem;
    color: black;
    background-color: white;
    cursor: pointer;
    margin: 0.01rem;
    transition: all 0.5 ease;
}

form button:hover{
    background: #000103;
    color:#50BFC3;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0.7rem;
    font-size:1.3rem;
    border-radius: 0.3rem;
    text-transform: capitalize;
    transition: all 0.3s ease-in;
}

.todo:hover{
    background: #e6e3e3;
}

.todo-list{
    min-width: 48%;
    list-style: none;
}

.todo li{
    flex:1;
    color: black;
    font-weight: bold;
}

.todo-item{
    padding: 0 0.8rem 0 0.6rem;
}

.fa-check,.fa-trash-o{
    pointer-events: none;
}

.completed-btn,.trash-btn{
    border:none;
    color:#50BFC3;
    padding: 0.8rem 1.1rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
    transition:all 0.5s ease;
}

.completed-btn:hover,.trash-btn:hover{
    background-color: #000103;
}

.cheaked{
    opacity: 0.25;
    text-transform: uppercase;
    transform: translateX(0.3rem);
}

.animation-remove{
    animation:todoFade 0.8s ease forwards;
}

@media (max-width:500px) {
    .gradient-text{
        font-size: 2.1rem;
    }    
    header{
        min-height: 20vh;
    }
    .todo-list{
        min-width: 90%;
        list-style: none;
    }
    .todo{
        font-size: 1rem;
    }
}
  

