*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header h1{
    color: #000103;
}

header,form{
    min-height: 20vh;
    color:#50BFC3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*
.alreat{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#50BFC3;
    font-weight: bold;
    font-size: 1.1rem;
    margin:0 30rem;
    background: white;
}
*/

form input{
    color:#50BFC3;
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 1.3rem;
}


form input, form button{
    border-radius: 0.02rem;
    border: none;
    outline: none;
}

form button{
    font-size: 2rem;
    padding: 0.44rem 1rem;
    color: #50BFC3;
    background-color: white;
    cursor: pointer;
    margin: 0.01rem;
    transition: all 0.5 ease;
}

form button:hover{
    background: #50BFC3;
    color: white;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo{
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:0.7rem;
    font-size:1.3rem;
    border-radius: 0.3rem;
}

.todo-list{
    min-width: 48%;
    list-style: none;
}

.todo li{
    flex:1;
    color: grey;
    font-weight: bold;
}

.todo-item{
    padding: 0 0.8rem 0 0.6rem;
}

.completed-btn,.trash-btn{
    border:none;
    color:#50BFC3;
    padding: 0.8rem 1.1rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bold;
    outline: none;
    transition:all 0.5s ease;
}

.completed-btn:hover,.trash-btn:hover{
    background-color: #000103;
}